{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h3>ABM Tablas</h3>
    <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                <li  class="nav-item active">                    
                        <a class="nav-link" href="{{ path('tipo_operaciones_index') }}" class="btn btn-default navbar-btn">Tipo Operaciones<span class="sr-only">(current)</span></a>
                 </li>
                {% endif %}
                
    </ul>

    

{% endblock %}
